<!-- Repeat the next segment -->
<div ng-repeat="post in posts.data">
    <div class="post-preview">
        <a href="#/">
            <h2 class="post-title">{{post.title}}</h2>
            <h3 class="post-subtitle">{{post.content | contentPreview}}</h3>
        </a>
        <p class="post-meta">
            Posted by <a href="#">{{posts.usersData[post.uid]}}</a> | {{ post.created_at | timestampToRelativeDate }}
        </p>
    </div>
    <hr>
</div>
<!-- /repeat -->

<!-- Pager -->
<div class="clearfix">
    <a class="btn btn-primary float-right" href="#">More &rarr;</a>
</div>




<!-- one post original template

    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
            </h3>
        </a>
        <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2018</p>
    </div>
    <hr>

-->