<h1>Login</h1>
<form name="sentMessage" id="contactForm" novalidate ng-submit="methods.login();">
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Email Address</label>
            <input type="email" class="form-control" placeholder="Email Address"
                ng-model="formData.email"
                id="email" required data-validation-required-message="Please
                enter your email address.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="s0me_5ecr3t_pa$$w0rd"
                ng-model="formData.password"
                id="password" required data-validation-required-message="Please enter your password">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>

    <!-- display the authentication error message -->
    <div class="alert-danger mb-3" ng-show="formData.errorMessage">{{ formData.errorMessage }}</div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
    </div>
</form>