<div ng-if="!user">
    Please <a href="#!/user/login">Log in</a>
</div>

<div ng-if="user">
    <h1>{{ posts.form.getName() }} <i ng-if="posts.loadInProgress" class="fa fa-spinner fa-spin"></i></h1>
    <form name="postForm" id="postForm" novalidate ng-submit="posts.submit();">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control input-post-field" 
                    placeholder="Title" 
                    autofocus
                    required
                    ng-model="posts.form.title"
                    id="title" required 
                    data-validation-required-message="Please enter post title">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Description</label>
                <textarea class="form-control input-post-field" 
                    rows="2"
                    placeholder="Description" 
                    required
                    ng-model="posts.form.description"
                    id="description" required 
                    data-validation-required-message="Please enter post description"></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls" style="font-size: 18px;">
                <label>Content</label>
                <textarea class="form-control" 
                    placeholder="Content..."
                    ng-model="posts.form.content"
                    id="content-textarea" required 
                    data-validation-required-message="Please enter post content"></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <br>

        <!-- display the authentication error message -->
        <div class="alert-danger mb-3" ng-show="posts.form.errorMessage">{{ posts.form.errorMessage }}</div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="posts.form.inProgress">
                <span ng-if="!posts.form.inProgress">{{ posts.form.getName() }}</span>
                <span ng-if=" posts.form.inProgress"><i class="fa fa-spinner fa-spin"></i> Processing...</span>
            </button>
            <a href="#!/home" 
                class="btn btn-outline-secondary" 
                ng-if="currentState == 'post.new'">Cancel</a>
            <a ng-href="#!/post/get/{{posts.form.postid}}" 
                class="btn btn-outline-secondary" 
                ng-if="currentState == 'post.update'">Cancel</a>
        </div>
    </form>
</div>